<!doctype html>

<html>
<head>
    <!-- Fix for mobile. -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Scripts -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="assets/scripts/test.js"></script>
    <!-- Styles -->
    <link rel="stylesheet" href="assets/styles/main.css" type="text/css">
    <link rel="stylesheet" href="assets/styles/animate.min.css" type="text/css">

    <title>JT Cho</title>
</head>
<body>
{% include 'partials/nav.html' %}
<main class="container animated fadeIn">
</main>
<div class="canvas"></div>
{% include 'partials/footer.html' %}
</body>
</html>
