<!doctype html>

<html>
<head>
    <!-- Fix for mobile. -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Scripts -->
    <!-- Styles -->
    <link rel="stylesheet" href="assets/styles/main.css" type="text/css">
    <link rel="stylesheet" href="assets/styles/animate.min.css" type="text/css">
    <title>JT Cho</title>
    <!-- 1 pillow(s) were harmed in the making of this website. -->
</head>
<body>
{% include 'partials/nav.html' %}
<main class="container animated fadeIn">
    <section class="splash">
        <h1 class="animated slideInLeft">jt.cho</h1>
        <h2 class="animated slideInRight">["software engineer", "avid learner"]</h2>
    </section>
    <div class="screen">jt.cho</div>
</main>
<div class="canvas"></div>
{% include 'partials/footer.html' %}
</body>
</html>
