@import '../../../node_modules/include-media/dist/_include-media.scss';

$breakpoints: (
  tablet: 700px
);

.container {
  width: 700px;
  margin: 0 auto;
  display : flex;
  align-items : center;

  .me {
    width: 200px;
    height: 200px;
    background: url('../images/headshot.png') center;
    background-size: 100%;
    transition: 0.5s;
    border-radius: 100%;
    opacity: 0.96;
  }

  .me:hover {
    opacity: 1.0;
  }

  .bio {
    width: calc(100% - 285px);
    margin-left: 60px;

    h1 {
      font-family: "Avenir Heavy", Arial, sans-serif;
      font-weight: 200;
      font-size: 56px;
      margin-bottom: 0;
    }

    p {
      font-family: "Avenir Light", Arial, sans-serif;
      font-weight: 100;
      line-height: 24px;
    }

    a {
      text-decoration: none;
      color: #1a7d9f;
      font-weight: 500;
      opacity: 0.6;
      transition: 0.5s;
    }

    a:hover{
      opacity: 1.0;
    }
  }

}

@include media("<tablet") {
  .container {
    width: 100%;
    height: auto;
    display: block;
    padding-bottom: 40px;

    .me {
      margin: 20px auto 0 auto;
      display: block;
      width: 100px;
      height: 100px;
    }

    .bio {
      margin: 0 auto;
      text-align: center;
      width: 80%;

      h1 {
        font-size: 40px;
      }

      display: block;
    }
  }
}
