@import '../../../node_modules/include-media/dist/_include-media.scss';

$breakpoints: (
        small: 320px,
        phone: 530px,
        desktop: 1024px
);

@font-face {
  font-family: "Avenir Book";
  src: url('../fonts/avenir-book.otf');
}

@font-face {
  font-family: "Avenir Light";
  src: url('../fonts/avenir-light.otf');
}

@font-face {
  font-family: "Avenir Heavy";
  src: url('../fonts/avenir-heavy.otf');
}

body, html {
  width: 100%;
  position: relative;
  margin: 0;
  //background-color: #F7F7F7;
}

html {
  box-sizing: border-box;
}

.container {
  width: 80%;
  height: 650px;
  margin: 0 auto;
  user-select: none;

  .coming-soon {
    margin-top: 275px;
    text-align: center;
    font-family: "Avenir Heavy", Arial, sans-serif;
    font-size: 3em;
    color: #393939;
  }

  .splash {

    margin-top: 185px;
    z-index: 10;
    position: absolute;

    h1 {
      font-family: "Avenir Heavy", Arial, sans-serif;
      font-weight: 200;
      font-size: 180px;
      color: #393939;
      margin: 0;
      position: relative;
      top: 30px;
    }

    h2 {
      color: #8A8A8A;
      font-family: "Avenir Book", Arial, sans-serif;
      font-size: 30px;
      font-weight: 100;
      margin: 0;
      position: relative;
      left: 90px;
    }
  }
  .screen {
    font-family: "Avenir Heavy", Arial, sans-serif;
    font-weight: 200;
    color: #F2F2F2;
    font-size: 500px;
    transform: scaleX(-1);
    position: absolute;
    margin-top: 70px;
    top: -25px;
    left: 0;
    z-index: 0;
    width: 100%;
    overflow: hidden;
    opacity: 0;
  }
}

.canvas {
  width: 100%;
  height: 100%;
  background-image: url('../images/bridge_bg.png');
  background-size:cover;
  transform: scaleX(-1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.025;
  z-index: -1;
}

/* CUSTOM DEVICE CSS */

@include media("<=small") {

  .container {
    text-align: center;
    .coming-soon {
      font-size: 1.5em;
    }
    .splash {
      margin-top: 180px;
      position: relative;

      h1 {
        font-size: 70px;
        top: 0;
      }

      h2 {
        font-size: 15px;
        margin: 0 0 0 0;
        position: static; // Needs to be reset.
      }
    }

    .screen {
      display: none;
    }
  }
}

@include media(">small", "<=phone") {
  .container {
    .coming-soon {
      font-size: 2em;
    }
    .splash {
      margin-top: 180px;

      h1 {
        font-size: 120px;
      }
      h2 {
        font-size: 30px;
        left: 30px;
        width: 300px;
      }
    }
  }
}

@include media(">phone", "<desktop") {
  .container {
    .coming-soon {
      font-size: 2.5em;
    }
    .splash {
      text-align: center;

      h2 {
        width: 300px;
      }
    }
  }
}

@include media(">desktop") {
  .container {
    .splash {
      h2 {
        width: 100%;
      }
    }
  }
}